# -------------------------
# Python / Environments
# -------------------------
# Virtual environments
.venv*
.venv310/
env/
ENV/
venv/
VENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Solver files (Gurobi / CPLEX)
# -------------------------
*.log
*.prm
*.bas
*.mst
*.sol
*.sav
*.hlp



# -------------------------
# Instances processed (heavy files)
# -------------------------
instances/formatted/*
!instances/formatted/.gitkeep

# -------------------------
# VS Code
# -------------------------
.vscode/
.settings/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db
