# -------------------------
# Python / Environments
# -------------------------
# Virtual environments
.venv*
.venv310/
.venv3103/
venv310/
venv3103/
env/
ENV/
venv/
VENV/

# Python and cache files
cache/
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Solver files (Gurobi / CPLEX)
# -------------------------
*.log
*.prm
*.bas
*.mst
*.sol
*.sav
*.hlp


# -------------------------
# Results (heavy files)
# -------------------------
results/*
results/

results/GRID/*
!results/GRID/.gitkeep

results/CITY/*
!results/CITY/.gitkeep



# -------------------------
# Instance
# -------------------------
instances/*
instances/
